/* ========================css reset================= */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ========================html smooth scrolling================= */
html {
  scroll-behavior: smooth;
}

/* ========================nav bar start================= */

nav {
  background-color: black;
  z-index: 2;
  opacity: 0.9;
  width: 100%;
  position: fixed;
  opacity: 0.9;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container ul {
  margin: 25px;
}
.flex-container a {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}
.flex-container li {
  list-style-type: none;
  display: inline;
}
.flex-container a:hover {
  background-color: cyan;
  color: black;
  border-radius: 20px;
}

/* ========================nav bar end================= */

/* ========================background-image part start================= */

#background {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 800px;
  background-image: url("image/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  text-align: center;
  line-height: 80px;
}

#content h1 {
  font-size: 130px;
  font-weight: bolder;
  color: white;
}

#content p {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.banner-btn a {
  text-decoration: none;
  color: white;
  background-color: black;
  display: inline-block;
  width: 150px;
  transition: color 0.5s;
  position: relative;
  z-index: 1;
  border: 1px solid black;
  margin: 20px auto;
  font-size: 20px;
}

.banner-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  z-index: -1;
  transition: 0.5s;
}

.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: black;
}

/* ========================background-image part end================= */

/* ========================feature section start===================== */

#feature1 {
  position: absolute;
  top: 900px;
  width: 100%;
  background-color: #ddecea;
}
#feature1 .heading {
  font-size: 60px;
  text-align: center;
  color: #009688;
  padding-top: 70px;
}

.feature {
  display: flex;
  justify-content: space-around;
}

.feature img {
  width: 300px;
  height: 500px;
  border-radius: 20px;
}

.feature-section {
  width: 500px;
  line-height: 35px;
}
.feature-section h1 {
  color: #009688;
}
.feature-section p {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}
#feature1 {
  margin-top: 20px;
}

.feature-section i {
  width: 40px;
  height: 37px;
  font-size: 30px;
  border-radius: 8px;
  color: #009688;
  padding: 4px;
}
.section {
  margin-top: 10px;
}
/* ========================feature section end===================== */

/* ========================service section start===================== */

#service {
  position: absolute;
  top: 1670px;
  width: 100%;
  background-color: lightgray;
}
.title-text p {
  font-size: 30px;
  text-align: center;
}
.service-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-text h1 {
  font-size: 60px;
  text-align: center;
  color: #009688;
  padding-top: 70px;
  padding-bottom: 10px;
}

.service-desc {
  font-size: 30px;
  text-align: center;
  color: #009688;
  line-height: 70px;
}
.single-service img {
  width: 100%;
  transition: transform 0.5s;
}
.single-service img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ========================service section end===================== */

/* ========================testimonial part start===================== */
#testimonial {
  display: flex;
  justify-content: space-around;
}

#testimonial-section {
  position: absolute;
  top: 2700px;
  width: 100%;
  height: auto;
}

#testimonial-heading {
  font-size: 60px;
  text-align: center;
  color: #009688;
  margin-bottom: 20px;
  padding-top: 90px;
}

.user h1 {
  font-size: 40px;
  text-align: center;
  color: #009688;
  margin-bottom: 20px;
}

.user {
  box-shadow: 10px 10px 5px 0px #298980eb;
  transition: transform 0.5s;
}

.user:hover {
  transform: translateY(-7px);
  cursor: pointer;
}
.user img {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
.user h1 {
  text-align: center;
}
.user p {
  text-align: center;
}
/* ========================testimonial part end===================== */
/* ========================footer part start===================== */

#footer-section {
  position: absolute;
  top: 3200px;
  background-color: lightgray;
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
}

#footer-section h1 {
  font-size: 60px;
  text-align: center;
  color: #009688;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 70px;
}
.footer h3 {
  color: #009688;
  font-size: 40px;
}
.footer p {
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.social-share {
  font-size: 40px;
  text-align: center;
}
.social-share i:hover {
  color: #009688;
}
.copyright {
  color: white;
  background-color: black;
  text-align: center;
  height: 150px;
  margin-top: 100px;
  padding-top: 60px;
  font-size: 40px;
}

/* ========================footer part end===================== */

/* ========================responsive design part start===================== */

@media screen and (max-width: 768px) {
  /* ============= nav bar start===================== */

  .flex-container {
    flex-direction: column;
  }
  a {
    text-align: center;
    display: block;
  }
  nav {
    height: auto;
    position: static;
  }

  /* ============= nav bar end ===================== */

  /* ============= background part start===================== */

  #background {
    top: 280px;
  }
  #content h1 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
  }

  #content p {
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }
  /* ============= background part start===================== */

  /* ============= feature part start===================== */

  #feature1 {
    top: 1080px;
  }
  #feature1 .heading {
    font-size: 40px;
    padding-top: 0px;
  }

  .service-desc {
    font-size: 30px;
  }

  .feature {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .feature img {
    width: 100%;
  }

  .feature-section {
    width: auto;
    margin-left: 10px;
  }
  .feature-section h1 {
    text-align: center;
  }
  .feature-image {
    margin-top: 20px;
  }

  /* ============= feature part end===================== */

  /* ============= Service part start===================== */

  #service {
    top: 2560px;
  }
  .single-service img {
    margin: auto;
    display: block;
    width: 80%;
    height: 200px;
  }
  .title-text h1 {
    font-size: 40px;
    padding-top: 0px;
  }
  /* ============= Service part  end===================== */

  /* ============= footer part start===================== */

  #footer-section h1 {
    font-size: 40px;
    padding-top: 0px;
  }

  .footer h3 {
    font-size: 30px;
  }
  .footer p {
    font-size: 20px;
  }
  .footer {
    line-height: 30px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .contact,
  .shop-info,
  .social-share {
    margin-bottom: 20px;
  }
  .footer h3 {
    color: #009688;
    font-size: 30px;
  }
  .footer p {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  .copyright {
    font-size: 30px;
  }

  #footer-section {
    top: 4450px;
  }

  /* ============= footer part end===================== */

  /* ============= testimonial part start============== */

  #testimonial {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .user {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }

  #testimonial-heading {
    font-size: 40px;
    padding-top: 0px;
  }
  #testimonial-section {
    top: 3700px;
  }
}
/* ============= testimonial part start============== */

@media screen and (min-width: 769px) and (max-width: 1199px) {
  #testimonial-section {
    top: 3650px;
  }
  #footer-section {
    top: 4050px;
  }
}

/* ========================responsive design part end===================== */
